<launch>
  <!-- start nodelet manager and load driver nodelet -->
  <node machine="user" pkg="nodelet" type="nodelet" name="velodyne_nodelet_manager"
        args="manager" />
  <node machine="user" pkg="nodelet" type="nodelet" name="driver_nodelet"
        args="load velodyne_driver/DriverNodelet velodyne_nodelet_manager" >
    <param name="model" value="32E"/>
    <param name="pcap" value=""/>
  </node>

  <!-- start cloud nodelet -->
  <node machine="user" pkg="nodelet" type="nodelet" name="cloud_nodelet"
        args="load velodyne_pointcloud/CloudNodelet velodyne_nodelet_manager">
    <param name="calibration" value="/home/administrator/ros/32db.yaml"/>
  </node>


</launch>
