<launch>
  <!-- Start NMEA GPS driver -->
  <node machine="user" ns="gps" pkg="nmea_gps_driver" type="nmea_gps_driver.py" name="nmea_gps" output="screen">
    <param name="port" value="/dev/clearpath/gps" />
    <param name="baud" value="57600" />
    <param name="useRMC" value="true" />
  </node>
</launch>
