<launch>
    <!-- Settings for different models -->
    <arg name="drive_speed" default="4.4" />
    <arg name="turn_speed" default="4.0" />
    <arg name="gearing" default="25" />
    <arg name="numbatpacks" default="2" />

    <!-- Teleop -->    
    <arg name="joy_dev" default="/dev/input/js0" />
    <arg name="cmd_topic" default="cmd_vel" />

    <node pkg="joy" type="joy_node" name="joy_node">
        <param name="dev" value="$(arg joy_dev)" />
        <param name="deadzone" value="0.3" />
    </node>

    <node pkg="grizzly_teleop" type="teleop.py" name="grizzly_teleop">
        <param name="turn_scale" value="$(arg turn_speed)" />
        <param name="drive_scale" value="$(arg drive_speed)" />
        <remap from="cmd_vel" to="$(arg cmd_topic)" />
        <param name="deadman_button" value="8" />
        <param name="fast_button" value="10" />
        <param name="estop_button" value="13" />
        <param name="estop_button2" value="14" />
    </node>

    <!-- Motion -->
    <node pkg="grizzly_node" type="motion_generator.py" name="motion_generator" output="screen">
        <param name="gearing" value="$(arg gearing)"/>
    </node>
    <node pkg="grizzly_node" type="motion_manager.py" name="motion_manager">
        <param name="rot_speed" value="$(arg turn_speed)" />
        <param name="trans_speed" value="$(arg drive_speed)" />
    </node>
    <node pkg="grizzly_node" type="fan_control.py" name="fan_control">
        <param name="safe_motor_temp" value="60"/>
        <param name="safe_ch_temp" value="50"/>
        <param name="safe_ic_temp" value="50"/> 
        <param name="hyst_size" value="10"/> 
    </node>

    <node pkg="grizzly_node" type="energy.py" name="energy">
        <param name="numbatpacks" value="$(arg numbatpacks)"/>
    </node>

    <node pkg="grizzly_node" type="dead_reckoning.py" name="dead_reckoning">
        <param name="gearing" value="$(arg gearing)"/>
    </node>

    <node pkg="grizzly_node" type="estop_mux.py" name="estop_mux">
    </node>

</launch>
