<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find grizzly_description)/urdf/lidar.gazebo.xacro"/>

  <xacro:macro name="lidar_sensor" params="name parent ros_topic update_rate x y z r p yaw samples min_angle max_angle min_range max_range resolution visible">

  <link name="${name}_link">
    <inertial>
      <mass value = "0.2" />
      <origin xyz="0 0 0"/>
      <inertia ixx="0.01" ixy="0.0" ixz="0.0" iyy="0.01" iyz="0.0" izz="0.01"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.2 0.1"/>
      </geometry>
    </visual>
  </link>
  <joint name="${name}_jnt" type="fixed">
    <origin xyz="${x} ${y} ${z}" rpy="${r} ${p} ${yaw}"/>
    <parent link="${parent}"/>
    <child link="${name}_link"/>
  </joint>
  <gazebo reference="${name}_link">
    <material>Gazebo/Blue</material>
  </gazebo>

  <xacro:lidar_sensor_gazebo name="${name}" ros_topic="${ros_topic}" update_rate="${update_rate}"
    samples="${samples}" min_angle="${min_angle}" max_angle="${max_angle}" min_range="${min_range}"
    max_range="${max_range}" resolution="${resolution}" visible="${visible}"/>
  </xacro:macro>
</robot>
