# SUBSYSTEM=="tty", ACTION=="add", ATTRS{bInterfaceNumber}=="00", SYMLINK+="roboteq/front-right", MODE="0666"
#SUBSYSTEM=="tty", ACTION=="add", ATTRS{manufacturer}=="UTEK*", ATTRS{bInterfaceNumber}=="01", SYMLINK+="roboteq/front-left", MODE="0666"
# SUBSYSTEM=="tty", ACTION=="add", ATTRS{bInterfaceNumber}=="02", SYMLINK+="roboteq/rear-right", MODE="0666"

SUBSYSTEM=="tty", ACTION=="add", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6011", GOTO="do_roboteq"
GOTO="skip_roboteq"

LABEL="do_roboteq"
MODE="0666"
ATTRS{bInterfaceNumber}=="00", SYMLINK+="roboteq/front-right"
ATTRS{bInterfaceNumber}=="01", SYMLINK+="roboteq/front-left"
ATTRS{bInterfaceNumber}=="02", SYMLINK+="roboteq/rear-right"
ATTRS{bInterfaceNumber}=="03", SYMLINK+="roboteq/rear-left"

LABEL="skip_roboteq"
